[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/marianrai
[access "refs/for/refs/*"]
	read = group user/marianrai
	push = group user/marianrai
	label-Code-Review = -2..+2 group user/marianrai
	label-Verified = -1..+1 group user/marianrai
	rebase = group user/marianrai
	removeReviewer = group user/marianrai
	submit = group user/marianrai
[access "refs/heads/*"]
	read = group user/marianrai
	create = group user/marianrai
	push = +force group user/marianrai
	pushMerge = group user/marianrai
[access "refs/tags/*"]
	push = group user/marianrai
	push = +force group user/marianrai
